<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>P410 SmartHome</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/title-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="display: flex; flex-direction: column; align-items: center;">
    <div style="margin-bottom: 1%;" class="logo-login">
        <img id="logo-login" src="/public/images/title-logo.png" alt="logo">
        <h1>Phòng 410</h1>
    </div>

    <div class="map">
        <div id="1" class="in-room">
            <button id="led_1" onclick="change_state('led_1')">Đèn 1</button>
            <button id="fan_1" onclick="change_state('fan_1')">Quạt 1</button>
            <button id="led_2" onclick="change_state('led_2')">Đèn 2</button>
            <button id="fan_2" onclick="change_state('fan_2')">Quạt 2</button>
            <button id="led_3" onclick="change_state('led_3')">Đèn 3</button>
        </div>
        <div id="2" style="display: none;" class="out-room">
            <button id="bath_room_led" onclick="change_state('led_bath')">Phòng tắm</button>
            <button id="toilet_room_led" onclick="change_state('led_wc')">Nhà WC</button>
        </div>
    </div>

    <div class="next-slide">
        <button id="in" class="change-map-onchange">Trong phòng</button>
        <button id="out" class="change-map-btn">Ngoài phòng</button>
    </div>
    <script src="/public/js/home.js"></script>
</body>
</html>
